*{
	color: white;
}
#score{

}

#words{
	margin:0% 0% 0% 25%;
	max-width: 50%;
	text-align: center;

}

.score-element{
	display: inline-block;
	max-width: 80px;
	margin: 5% 0% 5% 18%;
	padding: 0%;

}
.score-element h2{


}
body {
	 background-image: url("http://wallpapercave.com/wp/K8dAqxP.jpg");
}

.container-fluid{
	max-width: 960px;
  	margin: 0 auto;
  	clear: both;
	width: 100%;
	text-align: center;
}

header h1{
	text-align: center;
}